

.top-right {
	top: 12px;
	right: 12px; 
	transition: transform .6s ease-in-out;
	animation: toastInRight .7s;
}

.bottom-right {
	bottom: 12px;
	right: 12px;
	transition: transform .6s ease-in-out;
	animation: toastInRight .7s;
}

.top-left {
	top: 12px;
	left: 12px;
	transition: transform .6s ease-in;
	animation: toastInLeft .7s;
}

.bottom-left {
	bottom: 12px;
	left: 12px;
	transition: transform .6s ease-in;
	animation: toastInLeft .7s;
}


@keyframes toastInRight {
	from { transform: translateX(100%);	}
	to { transform: translateX(0); }
}

@keyframes toastInLeft {
	from { transform: translateX(-100%); }
	to {transform: translateX(0); }
}
